body {
  padding: 0;
  margin: 2%;
}

.icon-link i {
  font-size: 27px; 
}

.icon-link a {
  color: rgb(116, 103, 103); 
  text-decoration: none; 
  font-family: Arial;
} 

.icon-link a:hover {
  color: rgb(116, 103, 103); 
}

header li {
  float: right; 
  list-style-type: none; 
  margin-left: 20px; 
}


.wrapper {
  display: auto;
  grid-gap: 3em;
  font-family: arial;
}

.main-nav ul {
  display: grid;
  grid-gap: 4em;
  list-style: none;
  grid-template-columns: repeat(4, auto); 
  margin-left: 15%;
}


.main-nav a {
  display: block;
  text-decoration: none;
  padding: 1em;
  text-align: center;
  color: rgb(68, 67, 67);
  opacity: 0.8;
  border: 1px solid black;
  border-radius: 20px;
}

.main-nav a:hover {
  background: rgb(233, 233, 233);
  color: black;
  border-radius: 20px;
}

.main-container {
  display: grid;
  background: url(../Images/baguettes.jpg);
  border-radius: 2em;
  filter: grayscale(30%);
  background-size: cover;
  background-position: center;
  padding: 16em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.btn {
  text-decoration: none;
  color: black;
  font-size: 14px;
  background: white;
  padding: 10px 15px;
  opacity: 0.6;
  border-radius: 8em;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 3em;
}

.features > .box1,
.features > .box2,
.features > .box3 {
  background: rgb(233, 233, 233);
  padding: 1em;
  border-radius: 3em;
}

@media(max-width: 1000px) {
  .main-container {
    font-size: 15px;
    padding: 4em;
  }

  .btn {
    font-size: 12px;
    padding: 8px 12px;
  }
}

@media(max-width: 850px) {
  .main-container {
    font-size: 13px;
    padding: 4em;
  }

  .btn {
    font-size: 12px;
    padding: 8px 12px;
  }
}

@media(max-width: 730px) {
  .main-container {
    font-size: 11px;
    padding: 4em;
  }

  .btn {
    font-size: 12px;
    padding: 8px 12px;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr;
  }

  .meal {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .about-remain {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
  }

  .web-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2/3;
  }
}

@media(max-width: 500px) {
  .main-nav ul {
    grid-template-columns: repeat(4, auto); /* Ajustement pour les petits écrans */
  }

  .main-nav a {
    font-size: 10px;
  }

  .main-container {
    font-size: 7px;
    padding: 4em;
  }

  .btn {
    font-size: 8px;
    padding: 8px 12px;
  }

  .about > p {
    font-size: 18px;
  }

  .about-remain {
    font-size: 14px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .web-links {
    grid-column: 1/4;
  }
}

.credit > p {
  font-size: 9.5px;
}
